.containerSearch {
	width: 100%;
	background: #3f51b5;
	display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
}

.containerSearchIcon {
	height: 40px; 
	width: 60px; 
	margin-left: -75px;
	justify-content: center;
    align-items: center; 
    display: flex;
}

.inputSearch {
	height: 40px; 
	width: 60%; 
	border-radius: 5px;
	padding-left: 10px;
}